/* Footer */
.footer-global {
  background-image: url(../assets/imagenfooter.png);
}
/* Article */
.choose:hover{
  transform: scale(1.1);
}
#manOne {
  background-image: url(../manOne.png);
}
#manTwo {
  background-image: url(../manTwo.png);
}
/* Header */
#principal {
  background-image: url(../assets/Portada2.png);
}
/* Homecard */
#Cart:hover {
  transform: scale(1.1);
}
/* Rights */
.derechos {
  background-color: #0F0F0D;
  color: white;
  display: flex;
  justify-content: center;
}
