/* Footer */
.footer-global {
  background-image: url(../assets/imagenfooter.png);
}
/* Article */
#choose:hover {
  transform: scale(1.1);
}
#manOne {
  background-image: url(../manOne.png);
}
#manTwo {
  background-image: url(../manTwo.png);
}
/* Header */
#principal {
  background-image: url(../assets/Portada2.png);
}
/* Homecard */
#Cart:hover {
  transform: scale(1.1);
}
/* Rights */
.derechos {
  background-color: #0f0f0d;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0 25px 0 25px;
}

@media screen and (max-width: 480px) {
  #boxScreen {
    padding-left: 17%;
    padding-right: 11%;
  }
}

@media screen and (max-width: 480px) {
  #Global{
    padding-right: 75px;
  } 
  #imagen {
    padding-left: 4px;
  }
}

