.footer-global {
  background-image: url(../assets/imagenfooter.png);
}
.categorias-div {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 50px;
  color: white;
}
.titulo-cat {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
.chips-sup {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}
.chips-med {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
.chips-end {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
.opciones {
  padding-top: 25px;
}
.contacto {
  padding-top: 60px;
  color: white;
  line-height: 30px;
}
.contact-text {
  font-size: 20px;
  padding-right: 5px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
.boton-texto {
  padding-top: 20px;
  padding-left: 50px;
}
.boton {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.nosotros {
  padding-top: 60px;
  padding-left: 45px;
  padding-right: 50px;
  color: white;
}
.sobre-text {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.apellido {
  padding-left: 5px;
}
.email {
  padding-top: 22px;
  padding-left: 5px;
}
.gridform {
  padding: 0 50px 0 50px;
}
.global {
  display: flex;
  justify-content: center;
}
.global img {
  width: 100%;
  height: auto;
}
.email-classname, .apellido-classname, .nombre-classname {
  color: #626568  !important;
  border-radius: 5px !important;
  background-color: white;
  opacity: 0.8;
}
.nombre-classname {
  margin-right: 17px !important;
}
