.principal{
    background-size: cover;
    position: relative;
    top: 60px;
    background-image: url(../assets/Portada2.png);
    display:block;
}

.logo {
    justify-items: center;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.descripcionPortada{ 
    display: block;
    width: 40%;
    color:white;
    border: 5px solid white;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    margin: auto;
}