


.principal{
  margin-top:auto;
  width: 100%;
  height:800px;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerPortada{
background-image: url(../assets/Portada2.png);  
background-repeat: no-repeat ;
background-size: cover;

width:100% ;
height:100%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;

}
.descripcionPortada{
  color: aliceblue;
}